# Node modules
node_modules/

# Archivos de configuración de entorno
.env
.env.*

# Archivos de compilación
dist/

# Archivos de logs
*.log

# Archivos temporales de VSCode
.vscode/

# Archivos de dependencias de Yarn (si usas Yarn)
.yarn/
.yarn-cache/

# Archivos de dependencias de npm (si usas npm)
npm-debug.log*

# Archivos de dependencias de pnpm (si usas pnpm)
pnpm-debug.log*

# Archivos generados por TypeScript
*.tsbuildinfo

# Archivos de sistema
.DS_Store
Thumbs.db
